<div class="btn-group">
  <a href="#archive-modal" class="btn" data-toggle="modal">Archive paths</a>
  <a href="#redirect-modal" class="btn" data-toggle="modal">Redirect paths</a>
</div>
<div class="pull-right">
  <a href="#" class="btn"><i class="icon-plus"></i> Add mapping</a>
</div>
