<div class="btn-group">
  <a href="#redirect-modal" class="btn" data-toggle="modal">Redirect selected paths</a>
  <a href="#archive-modal" class="btn" data-toggle="modal">Archive selected paths</a>
</div>
<div class="pull-right">
    <%= link_to new_site_mapping_path(@site), class: 'btn' do %>
      <i class="icon-plus"></i> Add mapping
    <% end %>
</div>
