<% content_for(:page_title, "#{@site.default_host.hostname} Mappings") %>

<ul class="breadcrumb">
  <li><a href="/organisations">Organisations</a><span class="divider"></span></li>
  <li><a href="/organisations/ago">Attorney General's Office</a><span class="divider"></span></li>
  <li><a href="/sites/ago/mappings">www.ago.gov.uk mappings</a><span class="divider"></span></li>
  <li><a href="/sites/ago/mappings/new">Add mappings</a><span class="divider"></span></li>
  <li class="active">Review changes</li>
</ul>

<style>
  th {
    background-color: #eee !important;
  }
</style>

<div class="page-title">
  <h1>
    Review changes
    <span class="small">Saving will create 5 new mappings and update 10 existing mappings.</span>
  </h1>
</div>

<table class="table table-striped table-bordered add-big-bottom-margin">
  <thead>
    <tr>
      <th>Old URLs that will redirect to <a href="#">https://www.gov.uk/</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="#">/about</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about/team</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about_us</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about/details</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about/privacy-policy</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about</a>
        <span class="muted"> — currently redirects to <a href="#" class="muted-link">https://www.gov.uk/about</a></span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about/team</a>
        <span class="muted"> — currently redirects to <a href="#" class="muted-link">https://www.gov.uk/about</a></span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about_us</a>
        <span class="muted"> — currently redirects to <a href="#" class="muted-link">https://www.gov.uk/about</a></span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about/details</a>
        <span class="muted">— currently archived</span>
      </td>
    </tr>
    <tr>
      <td>
        <a href="#">/about/privacy-policy</a>
        <span class="muted"> — currently redirects to <a href="#" class="muted-link">https://www.gov.uk/about</a></span>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <a href="#" class="btn" style="margin-right: 10px">Back</a>
  <a href="#" class="btn btn-success">Save mappings</a>
</div>
